html {
    width: 100%;
    height: 100%;  
    overflow: hidden;
    padding: 0;
    margin: 0;
    outline: 0;
  }
  
  body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden; background: #23418e;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a30101', endColorstr='#fbca05', GradientType=1);
    font-family: "Helvetica Neue", "Futura", "Trebuchet MS", Arial;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
  
  /* Top Info */
  .instructions {
    width: 100%;
    text-align: center;
    margin-top: 1%;
  }
  .title {
    font-size: 2.5em;
    opacity: 0.9;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  }
  .description {
    font-size: 1.5em;
    opacity: 0.9;
    font-weight: 300;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  }
  

  
  /* Sprites */
  .sprites {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 53%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
  }
  .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    width: 0;
  }
  .sprite {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border: 3px solid rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 0;
  }
  .sprite:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  #sprite0 {
    left: 0;
  }
  #sprite1 {
    left: 0;
  }
  #sprite2 {
    left: 0;
  }
  #sprite3 {
    left: 0;
  }
  #sprite4 {
    left: 0;
  }
  #sprite5 {
    right: 0;
  }
  .sprite-label {
    font-size: 1.5em;
    opacity: 0.8;
    font-weight: 300;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
    position: absolute;
    bottom: -33px;
    left: 0;
  }
  
  @media screen and (max-height: 480px), screen and (max-width: 670px) {
    body {
      font-size: 75%;
    }
  }